
@import url('https://fonts.googleapis.com/css2?family=Arsenal&display=swap');


*{padding: 0;
margin: 0;
box-sizing: border-box;
}
font-family:{ 'Arsenal', sans-serif;}

#bgColor{
  background-color:rgb(241, 234, 234) ;
  box-shadow:         3px 3px 5px 6px #ccc;
  /* height: 380px; */
  margin-bottom: 10px;
}
#detail-card{
  background-color: lightsteelblue;
  box-shadow: 3px 3px 5px 6px gray;
}

.user{
  font-size: 50px;
  color: brown;
}
.name{
  font-size: 30px;
  color: white;
  margin-left: 20px;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}
/* spinner */
#loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid blue;
  border-right: 16px solid green;
  border-bottom: 16px solid red;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
 display: none; 
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}